.topbar {
  background-color: #6bbc86;
  position: fixed;
  width: 100%;
  margin-left: 0px;
}
.about {
  left: 30%;
}
.hobbies {
  left: 50%;
}
.pets {
  left: 70%;
}
body {
  background-color: #362451;
  font-size: 1.5em;
  font-family: Georgia, serif;
  text-align: center;
}
